# Configuration file for the clang-format tool.
# Written for clang-format version 7.0.1
# Used for homogeneous formatting of source code inside the ETK ART.

# Format Cpp code.
Language: Cpp
Standard: Cpp11
Cpp11BracedListStyle: true

# Set indentation rules.
IndentWidth: 4
AccessModifierOffset: -4
TabWidth: 4
UseTab: Never
IndentCaseLabels: false

# Make sure the return type is always in the same line as the declaration.
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 0
AlwaysBreakTemplateDeclarations: true

# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left

# Use custom brace wrapping.
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction:  true
  AfterNamespace: false
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false

# Choose a reasonable column limit.
ColumnLimit: 150

# Other settings.
SpaceAfterTemplateKeyword: false
IncludeBlocks: Merge
KeepEmptyLinesAtTheStartOfBlocks: false
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Empty
BreakConstructorInitializers: BeforeComma
#SortIncludes: false # Enable if includes shall not be formatted alphabetically
