* {
    font-family: "FiraGO";
    font-size: 16px;
    min-height: 0;
    color: white;
}

window#waybar {
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0px 4px;
}

#workspaces{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 25px;
}

#workspaces button{
    border: 2px solid transparent;
    border-radius: 15px;
    margin-right: 5px;
    padding: 1px 10px;
    font-weight: bolder;
    background-color: #282828;

    /* try this out  */
    transition: all 0.075s cubic-bezier(.55,-0.04,.64,.66);
}

#workspaces button.active, #workspaces button.focused{
    color: black;
    padding: 0 25px;
    background: #7C9D96;
}

#tray,
#mpd,
#custom-weather,
#cpu, 
#temperature, 
#memory,
#sway-mode,
#backlight, 
#pulseaudio, 
#custom-vpn,
#disk,
#custom-recorder,
#custom-audiorec,
#battery, 
#clock, 
#idle_inhibitor,
#network {
	padding: 0 10px;
}

